<%- include("header") %>

<% let categorie_actuelle = categorie; %>


<h2 class="cate-h2">
    <% if (categorie_actuelle === "arboriculture") { %>
        Blog Arboriculture
    <% } else { %>
        Nos produits
    <% } %>
</h2>

<div class="categorie_holder">
    <div class="categories">
        <a href="/catalogue_produit?valeur=pepiniere">
            <img src="/img/<%= categorie_actuelle === 'pepiniere' ? 'pepiniere-hover.png' : 'pepiniere.png' %>" class="categorie-illu">
        </a>
        <a href="/catalogue_produit?valeur=maraichage">
            <img src="/img/<%= categorie_actuelle === 'maraichage' ? 'maraichage-hover.png' : 'maraichage.png' %>" class="categorie-illu">
        </a>
        <a href="/catalogue_produit?valeur=arboriculture">
            <img src="/img/<%= categorie_actuelle === 'arboriculture' ? 'arboriculture-hover.png' : 'arboriculture.png' %>" class="categorie-illu">
        </a>
        <a href="/catalogue_produit?valeur=transformation">
            <img src="/img/<%= categorie_actuelle === 'transformation' ? 'transfo-hover.png' : 'transfo.png' %>" class="categorie-illu">
        </a>
    </div>
</div>

<% if (categorie_actuelle !== "arboriculture") { %>
<button class="filtre-toggle" onclick="document.querySelector('.sous-categories').classList.toggle('open')">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="black" stroke-width="2" stroke-linecap="round" fill="none">
        <path d="M3 5h18M6 12h12M9 19h6"/>
    </svg>
    Filtres
</button>
<% } %>

<div class="sous-categories">
    <% if (types && types.length > 0 && categorie_actuelle !== "arboriculture") { %>
        <% types.forEach(function(t){ %>
            <a href="/catalogue_produit?valeur=<%= categorie_actuelle %>&type=<%= t.type %>" class="type-button">
                <%= t.type %>
            </a>
        <% }) %>
    <% } %>
</div>


<% if (categorie_actuelle === "arboriculture") { %>
    <!-- ================= BLOG ARBORICULTURE ================= -->
    <% if (blog_articles && blog_articles.length > 0) { %>
        <div class="blog-list">
            <% blog_articles.forEach(function(article){ %>
                <article class="blog-card">
                    <header class="blog-header">
                        <h4 class="blog-title"><%= article.titre %></h4>
                        <div class="blog-meta">
                            <span class="blog-author">Par <%= article.redacteur %></span>
                            <span class="blog-date">le <%= new Date(article.date_publi).toLocaleDateString() %></span>
                        </div>
                    </header>
                    <div class="blog-content">
                        <%- article.message %>
                    </div>
                </article>
            <% }) %>
        </div>
    <% } else { %>
        <p>Aucun article publié pour le moment.</p>
    <% } %>

<% } else { %>
    <!-- ================= PRODUITS POUR AUTRES DOMAINES ================= -->
    <div class="product-list">
        <% if (produits.length > 0) { %>
            <% produits.forEach(function(produit){ %>
                <a href="/produit?produit_id=<%= produit.id %>" class="product-card-link">
                    <div class="product-card">
                        <img src="<%= produit.image_path %>" class="product-image">

                        <div class="availability-badge <%= produit.disponible ? 'available' : 'unavailable' %>">
                            <%= produit.disponible ? 'Disponible' : 'Indisponible' %>
                        </div>

                        <h3><%= produit.nom_produit %></h3>
                        <p class="product-variete"><%= produit.variete %></p>
                        <p class="product-price"><%= produit.prix %> €</p>
                    </div>
                </a>
            <% }) %>
        <% } else { %>
            <p>Aucun produit trouvé.</p>
        <% } %>
    </div>
<% } %>

<%- include("footer") %>